body{
   font-family: "Crimson Text", serif;
   background-color: #F2FFFC;
}
h1, h2{
  font-family: "Open Sans", sans-serif;
}
h1{
  text-align: center;
  color: #FAFFFA;
  background-color: #851944;
}
p{
  text-align: justify;
}
